In [1]:
from pyspark.sql import SparkSession
from datetime import datetime, timedelta
import os

In [2]:
spark = SparkSession.builder \
    .appName("Data Processing and Insertion") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
# Define base HDFS directory
base_hdfs_dir = "/user/itversity/raw_layer"

In [4]:
# Calculate current date and previous hour
current_dt = datetime.now()

# Handle special case when current time is 12am (midnight)
if current_dt.hour == 0:
    # Adjust processing date to previous day
    processing_date = (current_dt - timedelta(days=1)).strftime("%Y%m%d")
    prev_hour_str = "23"  # Previous hour is 11pm
else:
    processing_date = current_dt.strftime("%Y%m%d")
    prev_hour_str = (current_dt - timedelta(hours=1)).strftime("%H")

In [5]:
# Construct input path in HDFS
input_dir_pattern = f"{base_hdfs_dir}/{processing_date}/{prev_hour_str}_*"

# Get all directories matching the input pattern
fs = spark._jvm.org.apache.hadoop.fs.FileSystem.get(spark._jsc.hadoopConfiguration())
input_dirs = [status.getPath().toString() for status in fs.globStatus(spark._jvm.org.apache.hadoop.fs.Path(input_dir_pattern))]

In [6]:
# Lists to store DataFrames for each category
branches_dfs = []
agents_dfs = []
transactions_dfs = []

In [7]:
# Load existing data from Hive tables
branches_hive_df = spark.table("BigData_DWH.branches_dimension")
agents_hive_df = spark.table("BigData_DWH.sales_agents_dimension")
transactions_hive_df = spark.table("BigData_DWH.Transactions_Fact_table")

In [8]:
for input_dir in input_dirs:
    # Read all files in the directory
    input_files = [status.getPath().toString() for status in fs.listStatus(spark._jvm.org.apache.hadoop.fs.Path(input_dir))]

    for input_file in input_files:
        # Extract the file name from the input path
        input_file_name = os.path.basename(input_file)

        # Read the DataFrame from CSV
        df = spark.read.format("csv").option("header", "true").load(input_file)

        # Show the DataFrame (for verification)
        print(f"DataFrame from {input_file_name}:")
        df.show()

        # Determine DataFrame name based on file name content
        if "branches" in input_file_name.lower():
            branches_dfs.append(df)
        elif "agents" in input_file_name.lower():
            agents_dfs.append(df)
        elif "transactions" in input_file_name.lower():
            transactions_dfs.append(df)
        else:
            continue  # Skip processing for unknown files

DataFrame from _01_20240706.csv:
+---------+-----------+--------------+-----+
|branch_id|   location|establish_date|class|
+---------+-----------+--------------+-----+
|        1|   New York|    2017-01-15|    A|
|        2|Los Angeles|    2016-07-28|    B|
|        3|    Chicago|    2015-03-10|    A|
|        4|    Houston|    2016-11-05|    D|
|        5|    Phoenix|    2017-09-20|    C|
+---------+-----------+--------------+-----+

DataFrame from branches_SS_raw_1_01_20240706.csv:
+---------+-----------+--------------+-----+
|branch_id|   location|establish_date|class|
+---------+-----------+--------------+-----+
|        1|   New York|    2017-01-15|    A|
|        2|Los Angeles|    2016-07-28|    B|
|        3|    Chicago|    2015-03-10|    A|
|        4|    Houston|    2016-11-05|    D|
|        5|    Phoenix|    2017-09-20|    C|
+---------+-----------+--------------+-----+

DataFrame from sales_agents_SS_raw_1_01_20240706.csv:
+---------------+------------------+----------+
|sales_person_id|              name| hire_date|
+---------------+------------------+----------+
|              1|          John Doe|  2020-6-3|
|              2|        Jane Smith| 2018-5-13|
|              3|   Michael Johnson| 2021-10-3|
|              4|       Emily Brown|2020-10-25|
|              5|      David Wilson|  2021-4-8|
|              6|       Emma Taylor| 2019-3-28|
|              7|Christopher Miller| 2020-1-11|
|              8|      Olivia Davis|2021-10-24|
|              9|   Daniel Martinez| 2018-10-8|
|             10|      Sophia Moore| 2019-5-25|
+---------------+------------------+----------+

DataFrame from sales_transactions_SS_raw_1_01_20240706.csv:
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
|transaction_date|  transaction_id|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|   product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|shipping_address|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
|       2023-5-20|trx-152546429674|      85469|     Alexander|         Brown|alexander.brown@g...|             1|        2|        22|   Coffee Maker|      Appliances|   null|   null|   null|   null|   null|   10|     79.99|       no|          Cash|            null|
|      2022-10-25|trx-291375327542|      85512|       William|         Brown|william.brown@gma...|             3|        1|        24|        Blender|      Appliances|   null|   null|   null|   True|   null|    5|     49.99|       no|          Cash|            null|
|        2022-2-5|trx-312507679871|      85484|          John|      Williams|john.williams@gma...|            10|        3|         4|     Headphones|     Electronics|   null|   null|   null|   null|   null|    1|     99.99|       no|   Credit Card|            null|
|      2023-10-20|trx-193384855491|      85528|     Alexander|        Miller|alexander.miller@...|             7|        2|        25|Washing Machine|      Appliances|   null|   null|   null|   null|   null|    8|    499.99|       no|          Cash|            null|
|      2022-11-17|trx-831626097654|      85500|          John|         Brown|john.brown@hotmai...|             5|        1|        14|         Camera|     Electronics|   null|   null|   True|   null|   null|   10|    399.99|       no|          Cash|            null|
|       2022-9-27|trx-158496122054|      85545|        Sophia|        Wilson|sophia.wilson@hot...|             4|        5|        14|         Camera|     Electronics|   null|   null|   null|   null|   True|    6|    399.99|       no|   Credit Card|            null|
|       2022-4-21|trx-722817999024|      85561|     Alexander|         Moore|alexander.moore@y...|             4|        1|        30|Electric Kettle|      Appliances|   null|   null|   null|   True|   null|    6|     24.99|       no|   Credit Card|            null|
|       2023-4-28|trx-813287633702|      85520|     Alexander|        Wilson|alexander.wilson@...|             1|        1|        26| Vacuum Cleaner|      Appliances|   null|   null|   null|   null|   null|    4|    199.99|       no|          Cash|            null|
|        2023-3-8|trx-219568257432|      85488|       Michael|        Miller|michael.miller@ya...|             6|        2|        18|          Boots|        Footwear|   null|   null|   null|   null|   null|   10|    149.99|       no|   Credit Card|            null|
|       2023-6-17|trx-352160720823|      85466|       Michael|         Brown|michael.brown@yah...|             5|        2|        16|          Skirt|        Clothing|   null|   null|   null|   null|   null|    8|     39.99|       no|          Cash|            null|
|       2022-8-28|trx-895389231641|      85559|          John|        Taylor|john.taylor@yahoo...|             6|        5|        14|         Camera|     Electronics|   null|   null|   null|   null|   null|    6|    399.99|       no|          Cash|            null|
|      2023-11-19|trx-820309386661|      85527|     Alexander|         Davis|alexander.davis@y...|             7|        2|        22|   Coffee Maker|      Appliances|   null|   null|   null|   null|   null|    6|     79.99|       no|   Credit Card|            null|
|       2022-3-22|trx-974983174642|      85502|       Michael|         Brown|michael.brown@hot...|             4|        5|         5|        T-Shirt|        Clothing|   True|   null|   null|   null|   null|   10|     19.99|       no|          Cash|            null|
|       2022-9-27|trx-119174604031|      85508|         James|         Smith|james.smith@yahoo...|             1|        3|         9|          Boots|        Footwear|   null|   null|   null|   null|   null|    1|    129.99|       no|   Credit Card|            null|
|        2022-4-3|trx-474525094645|      85549|          Emma|       Johnson|emma.johnson@hotm...|             2|        3|         2|     Smartphone|     Electronics|   null|   null|   null|   null|   null|    9|    699.99|       no|   Credit Card|            null|
|      2022-12-14|trx-355633008132|      85483|          John|       Johnson|john.johnson@yaho...|             9|        5|        27|           Iron|      Appliances|   null|   True|   null|   null|   null|    9|     29.99|       no|   Credit Card|            null|
|       2023-4-14|trx-490311940006|      85496|         James|         Davis|james.davis@yahoo...|             8|        2|        19|        Sandals|        Footwear|   null|   True|   null|   null|   null|    2|     29.99|       no|   Credit Card|            null|
|       2023-1-19|trx-132205124356|      85507|           Ava|        Miller|ava.miller@outloo...|             2|        2|        28|     Hair Dryer|      Appliances|   null|   null|   null|   null|   null|    3|     19.99|       no|          Cash|            null|
|      2023-10-14|trx-276319959382|      85543|        Olivia|         Brown|olivia.brown@outl...|            10|        5|        24|        Blender|      Appliances|   null|   null|   null|   null|   null|   10|     49.99|       no|          Cash|            null|
|       2022-3-24|trx-024853282614|      85518|        Sophia|         Brown|sophia.brown@gmai...|             1|        4|         3|         Tablet|     Electronics|   null|   null|   True|   null|   null|    1|    299.99|       no|          Cash|            null|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+---------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+----------------+
only showing top 20 rows

In [9]:
if branches_dfs:
    branches_new_df = branches_dfs[0]
    for df in branches_dfs[1:]:
        branches_new_df = branches_new_df.union(df)

    branches_new_df = branches_new_df.dropDuplicates()
    branches_new_df = branches_new_df.join(branches_hive_df, on="branch_id", how="left_anti")
    print("branches DataFrame:")
    branches_new_df.show()

branches DataFrame:
+---------+--------+--------------+-----+
|branch_id|location|establish_date|class|
+---------+--------+--------------+-----+
+---------+--------+--------------+-----+

In [10]:
if agents_dfs:
    agents_new_df = agents_dfs[0]
    for df in agents_dfs[1:]:
        agents_new_df = agents_new_df.union(df)

    agents_new_df = agents_new_df.dropDuplicates()
    agents_new_df = agents_new_df.join(agents_hive_df, on="sales_person_id", how="left_anti")
    
    print("agents DataFrame:")
    agents_new_df.show()

agents DataFrame:
+---------------+----+---------+
|sales_person_id|name|hire_date|
+---------------+----+---------+
+---------------+----+---------+

In [11]:
# Print column names of transactions_dfs
if transactions_dfs:
    transactions_new_df = transactions_dfs[0]
    for df in transactions_dfs[1:]:
        transactions_new_df = transactions_new_df.union(df)

    transactions_new_df = transactions_new_df.dropDuplicates()
    transactions_new_df = transactions_new_df.join(transactions_hive_df, on="transaction_id", how="left_anti")
    
    print("Transactions DataFrame:")
    transactions_new_df.show()
    
    # Get column names
    column_names = transactions_new_df.columns
    print("Column names:")
    for col in column_names:
        print(col)

Transactions DataFrame:
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+--------------------+
|  transaction_id|transaction_date|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|offer_1|offer_2|offer_3|offer_4|offer_5|units|unit_price|is_online|payment_method|    shipping_address|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+--------------------+
|trx-187320333043|       2022-7-11|      85476|         James|         Moore|james.moore@yahoo...|            10|        5|         8|         Sneakers|        Footwear|   null|   null|   null|   null|   null|    7|     79.99|       no|   Credit Card|                null|
|trx-211908445828|        2022-8-2|      85510|         James|       Johnson|james.johnson@out...|             6|        5|        24|          Blender|      Appliances|   null|   null|   null|   null|   null|    4|     49.99|       no|   Credit Card|                null|
|trx-504748286356|       2023-5-10|      85474|          Emma|       Johnson|emma.johnson@gmai...|          null|     null|         2|       Smartphone|     Electronics|   null|   null|   null|   null|   null|    2|    699.99|      yes|   Credit Card|104 White Street/...|
|trx-537548137090|      2023-12-14|      85519|          John|        Wilson|john.wilson@hotma...|             9|        4|        25|  Washing Machine|      Appliances|   null|   null|   True|   null|   null|    9|    499.99|       no|          Cash|                null|
|trx-000112360946|        2023-9-6|      85490|           Mia|        Taylor|mia.taylor@yahoo....|          null|     null|         2|       Smartphone|     Electronics|   null|   null|   null|   null|   null|    6|    699.99|      yes|        Stripe|5378 Allison Stre...|
|trx-065786773740|       2023-2-17|      85518|        Sophia|         Brown|sophia.brown@gmai...|             9|        3|         9|            Boots|        Footwear|   null|   null|   null|   null|   null|    8|    129.99|       no|          Cash|                null|
|trx-111359626084|       2022-3-26|      85493|         James|       Johnson|james.johnson@gma...|             8|        1|         4|       Headphones|     Electronics|   null|   True|   null|   null|   null|    5|     99.99|       no|   Credit Card|                null|
|trx-179541605067|        2023-7-9|      85490|           Mia|        Taylor|mia.taylor@yahoo....|             2|        5|        20|            Heels|        Footwear|   True|   null|   null|   null|   null|    6|     59.99|       no|          Cash|                null|
|trx-197477932940|        2022-4-1|      85538|         James|         Smith|james.smith@yahoo...|             7|        5|         2|       Smartphone|     Electronics|   null|   null|   null|   True|   null|   10|    699.99|       no|          Cash|                null|
|trx-334836612567|      2022-10-18|      85479|         James|         Jones|james.jones@outlo...|          null|     null|         6|            Jeans|        Clothing|   null|   null|   True|   null|   null|    2|     49.99|      yes|        Stripe|1139 Addison Stre...|
|trx-569727423317|       2023-3-24|      85501|          Emma|         Smith|emma.smith@gmail....|          null|     null|        29|Hair Straightener|      Appliances|   null|   null|   null|   null|   null|   10|     39.99|      yes|   Credit Card|2643 North Sierra...|
|trx-616637928705|       2023-7-24|      85545|        Sophia|        Wilson|sophia.wilson@hot...|          null|     null|         9|            Boots|        Footwear|   True|   null|   null|   null|   null|    6|    129.99|      yes|        Stripe|1514 16th Street ...|
|trx-716638564987|        2023-7-9|      85550|          Emma|        Taylor|emma.taylor@gmail...|             4|        2|        26|   Vacuum Cleaner|      Appliances|   null|   null|   null|   null|   null|    5|    199.99|       no|   Credit Card|                null|
|trx-746803513484|       2022-6-18|      85529|           Mia|         Davis|mia.davis@gmail.com^|          null|     null|        26|   Vacuum Cleaner|      Appliances|   null|   null|   null|   null|   null|    8|    199.99|      yes|        Stripe|15771 West 64th A...|
|trx-901595305127|       2023-2-13|      85506|           Ava|        Miller|ava.miller@yahoo....|          null|     null|         1|           Laptop|     Electronics|   null|   null|   null|   null|   null|    3|    999.99|      yes|   Credit Card|96 Green Manor Ro...|
|trx-964650810363|       2023-5-21|      85551|       Michael|       Johnson|michael.johnson@y...|            10|        2|        19|          Sandals|        Footwear|   null|   null|   null|   null|   True|    7|     29.99|       no|   Credit Card|                null|
|trx-137783890813|      2023-10-25|      85480|     Alexander|      Williams|alexander.william...|             8|        3|        24|          Blender|      Appliances|   null|   null|   null|   null|   null|    3|     49.99|       no|   Credit Card|                null|
|trx-155004665264|       2023-12-2|      85497|       William|        Wilson|william.wilson@ya...|             1|        3|        17|           Blouse|        Clothing|   null|   null|   null|   True|   null|    2|     29.99|       no|   Credit Card|                null|
|trx-293630405793|      2022-12-13|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        5|        26|   Vacuum Cleaner|      Appliances|   null|   True|   null|   null|   null|    4|    199.99|       no|          Cash|                null|
|trx-311063724315|       2022-3-17|      85471|           Ava|      Williams|ava.williams@outl...|          null|     null|         8|         Sneakers|        Footwear|   null|   null|   null|   True|   null|    3|     79.99|      yes|        Stripe|422 Richmond Stre...|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-------+-------+-------+-------+-------+-----+----------+---------+--------------+--------------------+
only showing top 20 rows

Column names:
transaction_id
transaction_date
customer_id
customer_fname
cusomter_lname
cusomter_email
sales_agent_id
branch_id
product_id
product_name
product_category
offer_1
offer_2
offer_3
offer_4
offer_5
units
unit_price
is_online
payment_method
shipping_address

In [12]:
# Columns to be moved to a new DataFrame
columns_to_move = ["customer_id", "customer_fname", "cusomter_lname", "cusomter_email"]

# Create a new DataFrame with the selected columns
customer_df = transactions_new_df.select(columns_to_move)
print("Customer DataFrame:")
customer_df.show()

Customer DataFrame:
+-----------+--------------+--------------+--------------------+
|customer_id|customer_fname|cusomter_lname|      cusomter_email|
+-----------+--------------+--------------+--------------------+
|      85476|         James|         Moore|james.moore@yahoo...|
|      85510|         James|       Johnson|james.johnson@out...|
|      85474|          Emma|       Johnson|emma.johnson@gmai...|
|      85519|          John|        Wilson|john.wilson@hotma...|
|      85490|           Mia|        Taylor|mia.taylor@yahoo....|
|      85518|        Sophia|         Brown|sophia.brown@gmai...|
|      85493|         James|       Johnson|james.johnson@gma...|
|      85490|           Mia|        Taylor|mia.taylor@yahoo....|
|      85538|         James|         Smith|james.smith@yahoo...|
|      85479|         James|         Jones|james.jones@outlo...|
|      85501|          Emma|         Smith|emma.smith@gmail....|
|      85545|        Sophia|        Wilson|sophia.wilson@hot...|
|      85550|          Emma|        Taylor|emma.taylor@gmail...|
|      85529|           Mia|         Davis|mia.davis@gmail.com^|
|      85506|           Ava|        Miller|ava.miller@yahoo....|
|      85551|       Michael|       Johnson|michael.johnson@y...|
|      85480|     Alexander|      Williams|alexander.william...|
|      85497|       William|        Wilson|william.wilson@ya...|
|      85546|     Alexander|       Johnson|alexander.johnson...|
|      85471|           Ava|      Williams|ava.williams@outl...|
+-----------+--------------+--------------+--------------------+
only showing top 20 rows

In [13]:
customer_df.createOrReplaceTempView("customer_dim")
# SQL query to get the most selling products

customer_dim = """
SELECT * FROM customer_dim
"""

customer_dim = spark.sql(customer_dim)

customer_dim.show()

+-----------+--------------+--------------+--------------------+
|customer_id|customer_fname|cusomter_lname|      cusomter_email|
+-----------+--------------+--------------+--------------------+
|      85476|         James|         Moore|james.moore@yahoo...|
|      85510|         James|       Johnson|james.johnson@out...|
|      85474|          Emma|       Johnson|emma.johnson@gmai...|
|      85519|          John|        Wilson|john.wilson@hotma...|
|      85490|           Mia|        Taylor|mia.taylor@yahoo....|
|      85518|        Sophia|         Brown|sophia.brown@gmai...|
|      85493|         James|       Johnson|james.johnson@gma...|
|      85490|           Mia|        Taylor|mia.taylor@yahoo....|
|      85538|         James|         Smith|james.smith@yahoo...|
|      85479|         James|         Jones|james.jones@outlo...|
|      85501|          Emma|         Smith|emma.smith@gmail....|
|      85545|        Sophia|        Wilson|sophia.wilson@hot...|
|      85550|          Emma|        Taylor|emma.taylor@gmail...|
|      85529|           Mia|         Davis|mia.davis@gmail.com^|
|      85506|           Ava|        Miller|ava.miller@yahoo....|
|      85551|       Michael|       Johnson|michael.johnson@y...|
|      85480|     Alexander|      Williams|alexander.william...|
|      85497|       William|        Wilson|william.wilson@ya...|
|      85546|     Alexander|       Johnson|alexander.johnson...|
|      85471|           Ava|      Williams|ava.williams@outl...|
+-----------+--------------+--------------+--------------------+
only showing top 20 rows

In [14]:
spark.sql("INSERT INTO BigData_DWH.customers_dimension SELECT * FROM customer_dim")

++
||
++
++

In [15]:
# Columns to be moved to a new DataFrame
columns_to_move = ["product_id", "product_name", "product_category"]

# Create a new DataFrame with the selected columns
product_df = transactions_new_df.select(columns_to_move)
print("Customer DataFrame:")
product_df.show()

Customer DataFrame:
+----------+-----------------+----------------+
|product_id|     product_name|product_category|
+----------+-----------------+----------------+
|         8|         Sneakers|        Footwear|
|        24|          Blender|      Appliances|
|         2|       Smartphone|     Electronics|
|        25|  Washing Machine|      Appliances|
|         2|       Smartphone|     Electronics|
|         9|            Boots|        Footwear|
|         4|       Headphones|     Electronics|
|        20|            Heels|        Footwear|
|         2|       Smartphone|     Electronics|
|         6|            Jeans|        Clothing|
|        29|Hair Straightener|      Appliances|
|         9|            Boots|        Footwear|
|        26|   Vacuum Cleaner|      Appliances|
|        26|   Vacuum Cleaner|      Appliances|
|         1|           Laptop|     Electronics|
|        19|          Sandals|        Footwear|
|        24|          Blender|      Appliances|
|        17|           Blouse|        Clothing|
|        26|   Vacuum Cleaner|      Appliances|
|         8|         Sneakers|        Footwear|
+----------+-----------------+----------------+
only showing top 20 rows

In [16]:
product_df.createOrReplaceTempView("product_Dim")

In [17]:
spark.sql("INSERT INTO BigData_DWH.products_dimension SELECT * FROM product_Dim")

++
||
++
++

In [18]:
from pyspark.sql.functions import when, col, coalesce

transactions_new_df = transactions_new_df.withColumn(
    "offer",
    coalesce(
        when(col("offer_1") == "True", "offer_1"),
        when(col("offer_2") == "True", "offer_2"),
        when(col("offer_3") == "True", "offer_3"),
        when(col("offer_4") == "True", "offer_4"),
        when(col("offer_5") == "True", "offer_5")
    )
)

# Drop the original offer columns and other specified columns
transactions_new_df = transactions_new_df.drop("offer_1", "offer_2", "offer_3", "offer_4", "offer_5")

In [19]:
# Show the transformed DataFrame
transactions_new_df.show()
transactions_new_df = transactions_new_df.drop("logs", "source")
# Get column names
column_names = transactions_new_df.columns
print("Column names:")
for col in column_names:
    print(col)

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+
|  transaction_id|transaction_date|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|    shipping_address|  offer|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+
|trx-187320333043|       2022-7-11|      85476|         James|         Moore|james.moore@yahoo...|            10|        5|         8|         Sneakers|        Footwear|    7|     79.99|       no|   Credit Card|                null|   null|
|trx-211908445828|        2022-8-2|      85510|         James|       Johnson|james.johnson@out...|             6|        5|        24|          Blender|      Appliances|    4|     49.99|       no|   Credit Card|                null|   null|
|trx-504748286356|       2023-5-10|      85474|          Emma|       Johnson|emma.johnson@gmai...|          null|     null|         2|       Smartphone|     Electronics|    2|    699.99|      yes|   Credit Card|104 White Street/...|   null|
|trx-537548137090|      2023-12-14|      85519|          John|        Wilson|john.wilson@hotma...|             9|        4|        25|  Washing Machine|      Appliances|    9|    499.99|       no|          Cash|                null|offer_3|
|trx-000112360946|        2023-9-6|      85490|           Mia|        Taylor|mia.taylor@yahoo....|          null|     null|         2|       Smartphone|     Electronics|    6|    699.99|      yes|        Stripe|5378 Allison Stre...|   null|
|trx-065786773740|       2023-2-17|      85518|        Sophia|         Brown|sophia.brown@gmai...|             9|        3|         9|            Boots|        Footwear|    8|    129.99|       no|          Cash|                null|   null|
|trx-111359626084|       2022-3-26|      85493|         James|       Johnson|james.johnson@gma...|             8|        1|         4|       Headphones|     Electronics|    5|     99.99|       no|   Credit Card|                null|offer_2|
|trx-179541605067|        2023-7-9|      85490|           Mia|        Taylor|mia.taylor@yahoo....|             2|        5|        20|            Heels|        Footwear|    6|     59.99|       no|          Cash|                null|offer_1|
|trx-197477932940|        2022-4-1|      85538|         James|         Smith|james.smith@yahoo...|             7|        5|         2|       Smartphone|     Electronics|   10|    699.99|       no|          Cash|                null|offer_4|
|trx-334836612567|      2022-10-18|      85479|         James|         Jones|james.jones@outlo...|          null|     null|         6|            Jeans|        Clothing|    2|     49.99|      yes|        Stripe|1139 Addison Stre...|offer_3|
|trx-569727423317|       2023-3-24|      85501|          Emma|         Smith|emma.smith@gmail....|          null|     null|        29|Hair Straightener|      Appliances|   10|     39.99|      yes|   Credit Card|2643 North Sierra...|   null|
|trx-616637928705|       2023-7-24|      85545|        Sophia|        Wilson|sophia.wilson@hot...|          null|     null|         9|            Boots|        Footwear|    6|    129.99|      yes|        Stripe|1514 16th Street ...|offer_1|
|trx-716638564987|        2023-7-9|      85550|          Emma|        Taylor|emma.taylor@gmail...|             4|        2|        26|   Vacuum Cleaner|      Appliances|    5|    199.99|       no|   Credit Card|                null|   null|
|trx-746803513484|       2022-6-18|      85529|           Mia|         Davis|mia.davis@gmail.com^|          null|     null|        26|   Vacuum Cleaner|      Appliances|    8|    199.99|      yes|        Stripe|15771 West 64th A...|   null|
|trx-901595305127|       2023-2-13|      85506|           Ava|        Miller|ava.miller@yahoo....|          null|     null|         1|           Laptop|     Electronics|    3|    999.99|      yes|   Credit Card|96 Green Manor Ro...|   null|
|trx-964650810363|       2023-5-21|      85551|       Michael|       Johnson|michael.johnson@y...|            10|        2|        19|          Sandals|        Footwear|    7|     29.99|       no|   Credit Card|                null|offer_5|
|trx-137783890813|      2023-10-25|      85480|     Alexander|      Williams|alexander.william...|             8|        3|        24|          Blender|      Appliances|    3|     49.99|       no|   Credit Card|                null|   null|
|trx-155004665264|       2023-12-2|      85497|       William|        Wilson|william.wilson@ya...|             1|        3|        17|           Blouse|        Clothing|    2|     29.99|       no|   Credit Card|                null|offer_4|
|trx-293630405793|      2022-12-13|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        5|        26|   Vacuum Cleaner|      Appliances|    4|    199.99|       no|          Cash|                null|offer_2|
|trx-311063724315|       2022-3-17|      85471|           Ava|      Williams|ava.williams@outl...|          null|     null|         8|         Sneakers|        Footwear|    3|     79.99|      yes|        Stripe|422 Richmond Stre...|offer_4|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+
only showing top 20 rows

Column names:
transaction_id
transaction_date
customer_id
customer_fname
cusomter_lname
cusomter_email
sales_agent_id
branch_id
product_id
product_name
product_category
units
unit_price
is_online
payment_method
shipping_address
offer

In [20]:
from pyspark.sql.functions import when, col, coalesce,expr

# Calculate Total_price as DOUBLE
transactions_new_df = transactions_new_df.withColumn(
    "Total_price",
     col("units") * col("unit_price")
)

# Show the updated DataFrame
transactions_new_df.show()

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+
|  transaction_id|transaction_date|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|    shipping_address|  offer|       Total_price|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+
|trx-187320333043|       2022-7-11|      85476|         James|         Moore|james.moore@yahoo...|            10|        5|         8|         Sneakers|        Footwear|    7|     79.99|       no|   Credit Card|                null|   null|            559.93|
|trx-211908445828|        2022-8-2|      85510|         James|       Johnson|james.johnson@out...|             6|        5|        24|          Blender|      Appliances|    4|     49.99|       no|   Credit Card|                null|   null|            199.96|
|trx-504748286356|       2023-5-10|      85474|          Emma|       Johnson|emma.johnson@gmai...|          null|     null|         2|       Smartphone|     Electronics|    2|    699.99|      yes|   Credit Card|104 White Street/...|   null|           1399.98|
|trx-537548137090|      2023-12-14|      85519|          John|        Wilson|john.wilson@hotma...|             9|        4|        25|  Washing Machine|      Appliances|    9|    499.99|       no|          Cash|                null|offer_3|           4499.91|
|trx-000112360946|        2023-9-6|      85490|           Mia|        Taylor|mia.taylor@yahoo....|          null|     null|         2|       Smartphone|     Electronics|    6|    699.99|      yes|        Stripe|5378 Allison Stre...|   null|4199.9400000000005|
|trx-065786773740|       2023-2-17|      85518|        Sophia|         Brown|sophia.brown@gmai...|             9|        3|         9|            Boots|        Footwear|    8|    129.99|       no|          Cash|                null|   null|           1039.92|
|trx-111359626084|       2022-3-26|      85493|         James|       Johnson|james.johnson@gma...|             8|        1|         4|       Headphones|     Electronics|    5|     99.99|       no|   Credit Card|                null|offer_2|            499.95|
|trx-179541605067|        2023-7-9|      85490|           Mia|        Taylor|mia.taylor@yahoo....|             2|        5|        20|            Heels|        Footwear|    6|     59.99|       no|          Cash|                null|offer_1|            359.94|
|trx-197477932940|        2022-4-1|      85538|         James|         Smith|james.smith@yahoo...|             7|        5|         2|       Smartphone|     Electronics|   10|    699.99|       no|          Cash|                null|offer_4|            6999.9|
|trx-334836612567|      2022-10-18|      85479|         James|         Jones|james.jones@outlo...|          null|     null|         6|            Jeans|        Clothing|    2|     49.99|      yes|        Stripe|1139 Addison Stre...|offer_3|             99.98|
|trx-569727423317|       2023-3-24|      85501|          Emma|         Smith|emma.smith@gmail....|          null|     null|        29|Hair Straightener|      Appliances|   10|     39.99|      yes|   Credit Card|2643 North Sierra...|   null|399.90000000000003|
|trx-616637928705|       2023-7-24|      85545|        Sophia|        Wilson|sophia.wilson@hot...|          null|     null|         9|            Boots|        Footwear|    6|    129.99|      yes|        Stripe|1514 16th Street ...|offer_1|            779.94|
|trx-716638564987|        2023-7-9|      85550|          Emma|        Taylor|emma.taylor@gmail...|             4|        2|        26|   Vacuum Cleaner|      Appliances|    5|    199.99|       no|   Credit Card|                null|   null|            999.95|
|trx-746803513484|       2022-6-18|      85529|           Mia|         Davis|mia.davis@gmail.com^|          null|     null|        26|   Vacuum Cleaner|      Appliances|    8|    199.99|      yes|        Stripe|15771 West 64th A...|   null|           1599.92|
|trx-901595305127|       2023-2-13|      85506|           Ava|        Miller|ava.miller@yahoo....|          null|     null|         1|           Laptop|     Electronics|    3|    999.99|      yes|   Credit Card|96 Green Manor Ro...|   null|2999.9700000000003|
|trx-964650810363|       2023-5-21|      85551|       Michael|       Johnson|michael.johnson@y...|            10|        2|        19|          Sandals|        Footwear|    7|     29.99|       no|   Credit Card|                null|offer_5|209.92999999999998|
|trx-137783890813|      2023-10-25|      85480|     Alexander|      Williams|alexander.william...|             8|        3|        24|          Blender|      Appliances|    3|     49.99|       no|   Credit Card|                null|   null|            149.97|
|trx-155004665264|       2023-12-2|      85497|       William|        Wilson|william.wilson@ya...|             1|        3|        17|           Blouse|        Clothing|    2|     29.99|       no|   Credit Card|                null|offer_4|             59.98|
|trx-293630405793|      2022-12-13|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        5|        26|   Vacuum Cleaner|      Appliances|    4|    199.99|       no|          Cash|                null|offer_2|            799.96|
|trx-311063724315|       2022-3-17|      85471|           Ava|      Williams|ava.williams@outl...|          null|     null|         8|         Sneakers|        Footwear|    3|     79.99|      yes|        Stripe|422 Richmond Stre...|offer_4|239.96999999999997|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+
only showing top 20 rows

In [21]:
    # Add 'discount_percentage' column
    transactions_new_df = transactions_new_df.withColumn(
        "discount_percentage",
        when(col("offer") == "offer_1", 0.05)
        .when(col("offer") == "offer_2", 0.10)
        .when(col("offer") == "offer_3", 0.15)
        .when(col("offer") == "offer_4", 0.20)
        .when(col("offer") == "offer_5", 0.25)
        .otherwise(0.0)
    )

    # Add 'Total_price_paid_after_discount' column
    transactions_new_df = transactions_new_df.withColumn(
        "Total_price_after_discount",
        col("Total_price") * (1 - col("discount_percentage"))
    )

    # Show the transformed DataFrame
    transactions_new_df.show()

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+-------------------+--------------------------+
|  transaction_id|transaction_date|customer_id|customer_fname|cusomter_lname|      cusomter_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|    shipping_address|  offer|       Total_price|discount_percentage|Total_price_after_discount|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+-------------------+--------------------------+
|trx-187320333043|       2022-7-11|      85476|         James|         Moore|james.moore@yahoo...|            10|        5|         8|         Sneakers|        Footwear|    7|     79.99|       no|   Credit Card|                null|   null|            559.93|                0.0|                    559.93|
|trx-211908445828|        2022-8-2|      85510|         James|       Johnson|james.johnson@out...|             6|        5|        24|          Blender|      Appliances|    4|     49.99|       no|   Credit Card|                null|   null|            199.96|                0.0|                    199.96|
|trx-504748286356|       2023-5-10|      85474|          Emma|       Johnson|emma.johnson@gmai...|          null|     null|         2|       Smartphone|     Electronics|    2|    699.99|      yes|   Credit Card|104 White Street/...|   null|           1399.98|                0.0|                   1399.98|
|trx-537548137090|      2023-12-14|      85519|          John|        Wilson|john.wilson@hotma...|             9|        4|        25|  Washing Machine|      Appliances|    9|    499.99|       no|          Cash|                null|offer_3|           4499.91|               0.15|                 3824.9235|
|trx-000112360946|        2023-9-6|      85490|           Mia|        Taylor|mia.taylor@yahoo....|          null|     null|         2|       Smartphone|     Electronics|    6|    699.99|      yes|        Stripe|5378 Allison Stre...|   null|4199.9400000000005|                0.0|        4199.9400000000005|
|trx-065786773740|       2023-2-17|      85518|        Sophia|         Brown|sophia.brown@gmai...|             9|        3|         9|            Boots|        Footwear|    8|    129.99|       no|          Cash|                null|   null|           1039.92|                0.0|                   1039.92|
|trx-111359626084|       2022-3-26|      85493|         James|       Johnson|james.johnson@gma...|             8|        1|         4|       Headphones|     Electronics|    5|     99.99|       no|   Credit Card|                null|offer_2|            499.95|                0.1|                   449.955|
|trx-179541605067|        2023-7-9|      85490|           Mia|        Taylor|mia.taylor@yahoo....|             2|        5|        20|            Heels|        Footwear|    6|     59.99|       no|          Cash|                null|offer_1|            359.94|               0.05|                   341.943|
|trx-197477932940|        2022-4-1|      85538|         James|         Smith|james.smith@yahoo...|             7|        5|         2|       Smartphone|     Electronics|   10|    699.99|       no|          Cash|                null|offer_4|            6999.9|                0.2|                   5599.92|
|trx-334836612567|      2022-10-18|      85479|         James|         Jones|james.jones@outlo...|          null|     null|         6|            Jeans|        Clothing|    2|     49.99|      yes|        Stripe|1139 Addison Stre...|offer_3|             99.98|               0.15|                    84.983|
|trx-569727423317|       2023-3-24|      85501|          Emma|         Smith|emma.smith@gmail....|          null|     null|        29|Hair Straightener|      Appliances|   10|     39.99|      yes|   Credit Card|2643 North Sierra...|   null|399.90000000000003|                0.0|        399.90000000000003|
|trx-616637928705|       2023-7-24|      85545|        Sophia|        Wilson|sophia.wilson@hot...|          null|     null|         9|            Boots|        Footwear|    6|    129.99|      yes|        Stripe|1514 16th Street ...|offer_1|            779.94|               0.05|                   740.943|
|trx-716638564987|        2023-7-9|      85550|          Emma|        Taylor|emma.taylor@gmail...|             4|        2|        26|   Vacuum Cleaner|      Appliances|    5|    199.99|       no|   Credit Card|                null|   null|            999.95|                0.0|                    999.95|
|trx-746803513484|       2022-6-18|      85529|           Mia|         Davis|mia.davis@gmail.com^|          null|     null|        26|   Vacuum Cleaner|      Appliances|    8|    199.99|      yes|        Stripe|15771 West 64th A...|   null|           1599.92|                0.0|                   1599.92|
|trx-901595305127|       2023-2-13|      85506|           Ava|        Miller|ava.miller@yahoo....|          null|     null|         1|           Laptop|     Electronics|    3|    999.99|      yes|   Credit Card|96 Green Manor Ro...|   null|2999.9700000000003|                0.0|        2999.9700000000003|
|trx-964650810363|       2023-5-21|      85551|       Michael|       Johnson|michael.johnson@y...|            10|        2|        19|          Sandals|        Footwear|    7|     29.99|       no|   Credit Card|                null|offer_5|209.92999999999998|               0.25|                  157.4475|
|trx-137783890813|      2023-10-25|      85480|     Alexander|      Williams|alexander.william...|             8|        3|        24|          Blender|      Appliances|    3|     49.99|       no|   Credit Card|                null|   null|            149.97|                0.0|                    149.97|
|trx-155004665264|       2023-12-2|      85497|       William|        Wilson|william.wilson@ya...|             1|        3|        17|           Blouse|        Clothing|    2|     29.99|       no|   Credit Card|                null|offer_4|             59.98|                0.2|                    47.984|
|trx-293630405793|      2022-12-13|      85546|     Alexander|       Johnson|alexander.johnson...|             5|        5|        26|   Vacuum Cleaner|      Appliances|    4|    199.99|       no|          Cash|                null|offer_2|            799.96|                0.1|                   719.964|
|trx-311063724315|       2022-3-17|      85471|           Ava|      Williams|ava.williams@outl...|          null|     null|         8|         Sneakers|        Footwear|    3|     79.99|      yes|        Stripe|422 Richmond Stre...|offer_4|239.96999999999997|                0.2|                   191.976|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+--------------------+-------+------------------+-------------------+--------------------------+
only showing top 20 rows

In [22]:
column_names = transactions_new_df.columns
print("Column names:")
for col in column_names:
    print(col)

Column names:
transaction_id
transaction_date
customer_id
customer_fname
cusomter_lname
cusomter_email
sales_agent_id
branch_id
product_id
product_name
product_category
units
unit_price
is_online
payment_method
shipping_address
offer
Total_price
discount_percentage
Total_price_after_discount

In [23]:
# Columns to be moved to a new DataFrame
columns_to_move = ["transaction_id", "unit_price", "is_online", "payment_method", "shipping_address", "offer"]

# Create a new DataFrame with the selected columns
orders_df = transactions_new_df.select(columns_to_move)
print("orders DataFrame:")
orders_df.show()

orders DataFrame:
+----------------+----------+---------+--------------+--------------------+-------+
|  transaction_id|unit_price|is_online|payment_method|    shipping_address|  offer|
+----------------+----------+---------+--------------+--------------------+-------+
|trx-187320333043|     79.99|       no|   Credit Card|                null|   null|
|trx-211908445828|     49.99|       no|   Credit Card|                null|   null|
|trx-504748286356|    699.99|      yes|   Credit Card|104 White Street/...|   null|
|trx-537548137090|    499.99|       no|          Cash|                null|offer_3|
|trx-000112360946|    699.99|      yes|        Stripe|5378 Allison Stre...|   null|
|trx-065786773740|    129.99|       no|          Cash|                null|   null|
|trx-111359626084|     99.99|       no|   Credit Card|                null|offer_2|
|trx-179541605067|     59.99|       no|          Cash|                null|offer_1|
|trx-197477932940|    699.99|       no|          Cash|                null|offer_4|
|trx-334836612567|     49.99|      yes|        Stripe|1139 Addison Stre...|offer_3|
|trx-569727423317|     39.99|      yes|   Credit Card|2643 North Sierra...|   null|
|trx-616637928705|    129.99|      yes|        Stripe|1514 16th Street ...|offer_1|
|trx-716638564987|    199.99|       no|   Credit Card|                null|   null|
|trx-746803513484|    199.99|      yes|        Stripe|15771 West 64th A...|   null|
|trx-901595305127|    999.99|      yes|   Credit Card|96 Green Manor Ro...|   null|
|trx-964650810363|     29.99|       no|   Credit Card|                null|offer_5|
|trx-137783890813|     49.99|       no|   Credit Card|                null|   null|
|trx-155004665264|     29.99|       no|   Credit Card|                null|offer_4|
|trx-293630405793|    199.99|       no|          Cash|                null|offer_2|
|trx-311063724315|     79.99|      yes|        Stripe|422 Richmond Stre...|offer_4|
+----------------+----------+---------+--------------+--------------------+-------+
only showing top 20 rows

In [24]:
orders_df.createOrReplaceTempView("orders_Dim")

In [25]:
spark.sql("INSERT INTO BigData_DWH.orders_dimension SELECT * FROM orders_Dim")

++
||
++
++

In [26]:
from pyspark.sql.functions import when, col, coalesce, expr

# Select only the necessary columns
transactions_new_dsf = transactions_new_df.select(
    "transaction_date",
    "transaction_id",
    "customer_id",
    "sales_agent_id",
    "branch_id",
    "product_id",
    "units",
    "Total_price",
    "discount_percentage",
    "Total_price_after_discount"
)
transactions_new_dsf.show()

# Perform casting
transactions_new_dsf = transactions_new_dsf.withColumn(
    "units",
    col("units").cast("int")
)

+----------------+----------------+-----------+--------------+---------+----------+-----+------------------+-------------------+--------------------------+
|transaction_date|  transaction_id|customer_id|sales_agent_id|branch_id|product_id|units|       Total_price|discount_percentage|Total_price_after_discount|
+----------------+----------------+-----------+--------------+---------+----------+-----+------------------+-------------------+--------------------------+
|       2022-7-11|trx-187320333043|      85476|            10|        5|         8|    7|            559.93|                0.0|                    559.93|
|        2022-8-2|trx-211908445828|      85510|             6|        5|        24|    4|            199.96|                0.0|                    199.96|
|       2023-5-10|trx-504748286356|      85474|          null|     null|         2|    2|           1399.98|                0.0|                   1399.98|
|      2023-12-14|trx-537548137090|      85519|             9|        4|        25|    9|           4499.91|               0.15|                 3824.9235|
|        2023-9-6|trx-000112360946|      85490|          null|     null|         2|    6|4199.9400000000005|                0.0|        4199.9400000000005|
|       2023-2-17|trx-065786773740|      85518|             9|        3|         9|    8|           1039.92|                0.0|                   1039.92|
|       2022-3-26|trx-111359626084|      85493|             8|        1|         4|    5|            499.95|                0.1|                   449.955|
|        2023-7-9|trx-179541605067|      85490|             2|        5|        20|    6|            359.94|               0.05|                   341.943|
|        2022-4-1|trx-197477932940|      85538|             7|        5|         2|   10|            6999.9|                0.2|                   5599.92|
|      2022-10-18|trx-334836612567|      85479|          null|     null|         6|    2|             99.98|               0.15|                    84.983|
|       2023-3-24|trx-569727423317|      85501|          null|     null|        29|   10|399.90000000000003|                0.0|        399.90000000000003|
|       2023-7-24|trx-616637928705|      85545|          null|     null|         9|    6|            779.94|               0.05|                   740.943|
|        2023-7-9|trx-716638564987|      85550|             4|        2|        26|    5|            999.95|                0.0|                    999.95|
|       2022-6-18|trx-746803513484|      85529|          null|     null|        26|    8|           1599.92|                0.0|                   1599.92|
|       2023-2-13|trx-901595305127|      85506|          null|     null|         1|    3|2999.9700000000003|                0.0|        2999.9700000000003|
|       2023-5-21|trx-964650810363|      85551|            10|        2|        19|    7|209.92999999999998|               0.25|                  157.4475|
|      2023-10-25|trx-137783890813|      85480|             8|        3|        24|    3|            149.97|                0.0|                    149.97|
|       2023-12-2|trx-155004665264|      85497|             1|        3|        17|    2|             59.98|                0.2|                    47.984|
|      2022-12-13|trx-293630405793|      85546|             5|        5|        26|    4|            799.96|                0.1|                   719.964|
|       2022-3-17|trx-311063724315|      85471|          null|     null|         8|    3|239.96999999999997|                0.2|                   191.976|
+----------------+----------------+-----------+--------------+---------+----------+-----+------------------+-------------------+--------------------------+
only showing top 20 rows

In [27]:
transactions_new_dsf.createOrReplaceTempView("transactions_Fact")
branches_new_df.createOrReplaceTempView("branches_view")
agents_new_df.createOrReplaceTempView("agents_view")

In [28]:
spark.sql("""
    INSERT INTO BigData_DWH.Transactions_Fact_table
    PARTITION (transaction_date)
    SELECT
        transaction_id,
        customer_id,
        sales_agent_id,
        branch_id,
        product_id,
        units,
        Total_price,
        discount_percentage,
        Total_price_after_discount,
        transaction_date
    FROM transactions_Fact
""")

++
||
++
++

In [29]:
spark.sql("INSERT INTO BigData_DWH.branches_dimension SELECT * FROM branches_view")

++
||
++
++

In [30]:
spark.sql("INSERT INTO BigData_DWH.sales_agents_dimension SELECT * FROM agents_view")

++
||
++
++

In [31]:
# Stop Spark session
spark.stop()